html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(5, 5, 92);
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.navbar-custom {
  display: flex;
}

.nav-item {
  margin-right: 40px;
  color: rgb(5, 5, 92);
  font-size: 22px;
}

a {
  color: rgb(5, 5, 92);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: rgb(5, 5, 92);
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

#logo {
  height: 150px;
}

footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 30px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.texte {
  text-align: center;
}

.texte2 {
  font-size: 2rem;
  margin-top: 50px;
}

.wear {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: fit-content; /*adapte la taille du cadre au texte*/
  margin: 50px;
  padding: 10px ; /*spécifie la taille de la marge entre le texte et le cadre.*/
  text-align: center ; /*centre le texte dans le cadre.*/
  justify-content: center;
  
}

.presentation-text {
  width: 65%;
  font-size: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgb(5, 5, 92) ; /*détermine la couleur de fond de l'encadrement.*/
  height: 150px;
  background-image: url("/images/paillettes.png");
}



.objectif {
  margin-right: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100px;
}

.logo-footer {
  display: flex;
  justify-content: space-around;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 140px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
}

#arrow-up {
  color: rgb(5, 5, 92);
}

.title__step {
  text-align: center;
  margin: 50px 0 20px 0;
}
.step__list {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  width: 100%;
  font-size: 20px;
}
.step {
  border: 0;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 75px;
  margin: 10px 10px 10px 0;
  width: 100%;
}

.icon-step {
  margin: 0 10px 0 10px;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.mentions {
  display: flex;
  justify-content: center;
}

.logo-domaine {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.domaine {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*-- CSS Mobile -- */

@media screen and (max-width: 399px)
  {
    h2 {
      font-size: 0.9rem;
    }
    header {
      display: flex;
      justify-content: center;
      margin: 20px 0 0 0 ;
    }
    .nav-item {
      font-size: 16px;
      margin-right: 20px;
    }
    .title {
      font-size: 2rem;
      margin-top: 15px;
    }
    .texte2 {
      font-size: 1rem;
    }
    .wear {
      margin-top: 40px;
      height: 200px;
    }
    .logo-footer{
      display: flex;
      flex-wrap: wrap;
    }
    .logo {
      height: 75px;
      margin-bottom: 10px;
    }
    .step {
      font-size: 1rem;
    }
    .step__list {
      flex-direction: column;
    }
    li {
      margin-right: 20px;
    }
    #myBtn {
      visibility: hidden;
    }
    #logo {
      width: 75px;
      height: 75px;
    }
    footer {
      padding-bottom: 10px;
    }
    .presentation {
      flex-direction: column;
      margin: 0px;
      padding: 0px;
    }
    .presentation-text {
      width: 100%;
      font-size: 16px;
      background-image: none;
      padding: 5px;
      align-items: normal;
    }
    #fusee {
      width: 150px;
      height: 150px;
    }
    .objectif {
      margin: 20px 0 20px 0;
    }
   }

@media screen and (min-width: 400px) and (max-width: 767px)
 {
  h2 {
    font-size: 1rem;
  }
  header {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0 ;
  }
  .title {
    font-size: 2rem;
    margin-top: 15px;
  }
  img {
    width: 60%;
  }
  .texte2 {
    font-size: 1rem;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .logo-na {
    width: 100px;
    height: 50px;
  }
  .step {
    font-size: 1rem;
  }
  .step__list {
    flex-direction: column;
  }
  li {
    margin-right: 20px;
  }
  #myBtn {
    visibility: hidden;
  }
  #logo {
    width: 75px;
    height: 75px;
  }
  .presentation-text {
    font-size: 16px;
    background-image: none;
    padding: 5px;
    width: 100%;
  }
  #fusee {
    width: 150px;
    height: 150px;
  }
 }

@media screen and (min-width: 768px) and (max-width: 1024px) 
{
  h2 {
    font-size: 1.5rem;
  }
  header {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0 ;
  }
  .title {
    font-size: 2rem;
    margin-top: 15px;
  }
  .texte2 {
    font-size: 1.5rem;
  }
  .logo {
    height: 75px;
  }
  .step {
    font-size: 1.5rem;
  }
  .step__list {
    flex-direction: column;
  }
  li {
    margin-right: 20px;
  }
  #myBtn {
    visibility: hidden;
  }
  #logo {
    height: 120px;
  }
  .presentation{
    margin: 0;
  }
  .presentation-text {
    font-size: 19px;
    background-image: none;
    padding: 5px;
    width: 100%;
  }
}





